ffmpeg-python
py-tgcalls==1.2.9
pyrogram
motor
lexica-api
bs4
python-dotenv
tgcrypto
youtube-search
yt-dlp
wget
pydub
pillow==9.3.0
httpx==0.25.2
aiofiles
numpy
gtts
aiohttp
lexica-api
bs4
gpytranslate
telegraph
